
.footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    color: #969696;
}

.footer a{
  color: #5990f6;
}